PORT=3000
NODE_ENV=development

MONGODB_URI=mongodb://127.0.0.1:27017/nombreBasededatos

JWT_SECRET=usarunaClaveSecretaParaJWT
JWT_EXPIRES=8h

BCRYPT_ROUNDS=10

ADMIN_NOMBRES=Administrador
ADMIN_APELLIDOS=Sistema
ADMIN_EMAIL=correoadministrador@administrador
ADMIN_PASSWORD=Admin123*